.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner{

}
.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner{
	display: block;
	width: 100%;
	background: #F5F5F5;
	border: 3px solid #484848;
	padding: 2rem;
	margin: 0 auto;
}
.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-payment-calculator-fields {}
.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-payment-calculator-fields .hip-payment-filed{
	float: left;
	margin-right: 3.8%;
	min-height: 1px;
	width: 30.75%;
}


.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-payment-calculator-fields .hip-payment-filed label{
	color: #595959;
	display: block;
	margin-bottom: 10px;
	font-size: 16px;
}
.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-payment-calculator-fields .hip-payment-filed input[type="text"]{
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-payment-calculator-fields .hip-payment-filed:last-child{
	margin-right: 0px;
}
.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-payment-calculator-fields .hip-payment-filed .error{
	display: none;
}
.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-online-payment-calculator-slider {
	clear: both;
	width: 100%;
	position: relative;
	padding-top: 20px;
}
.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-online-payment-calculator-slider .hip-online-payment-calculator-range-label {
	position: absolute;
	width: 100%;
	z-index: 2;
	display: flex;
	justify-content: space-between;
}
.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-online-payment-calculator-slider .hip-online-payment-calculator-range-label span{
	position: relative;
	font-size: 20px;
	font-weight: bold;
	color: #595959;
}
.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-online-payment-calculator-slider .hip-online-payment-calculator-range-label span:after{
	position: absolute;
	top: 27px;
	left: 50%;
	transform: translateX(-50%);
	content: "";
	width: 1px;
	height: 15px;
	border-radius: 1px;
	background-color: rgba(128, 128, 128, 0.5);
}
.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-online-payment-calculator-slider .hip-online-payment-calculator-range-label span:first-child{
	transform: translateX(-35%);
	margin-right: 13px;
}
.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-online-payment-calculator-slider .hip-online-payment-calculator-range-label span:last-child{
	transform: translateX(48%);
}

.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-online-payment-calculator-slider .hip-online-payment-calculator-slider-text p{
	margin-top: 0px;
}
.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-online-payment-calculator-slider .hip-online-payment-calculator-slider-rang {
	position: relative;
	width: 100%;
	padding-top: 40px;
	z-index: 9999;
}
.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-online-payment-calculator-slider .hip-online-payment-calculator-slider-rang .rang{
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	/*border-radius: 10px;*/
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}
.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-online-payment-calculator-slider .hip-online-payment-calculator-slider-rang .rang:hover{
	opacity: 1;
}
.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-online-payment-calculator-slider .hip-online-payment-calculator-slider-rang .rang::-webkit-slider-thumb{
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: red;
	/*background: #4CAF50;*/
	cursor: pointer;
	border: 2px solid #fff;
	z-index: 99999;
}
.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-online-payment-calculator-slider .hip-online-payment-calculator-slider-rang .rang:hover{
	opacity: 1;
}
.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-payment-calculator-fields .field-error {
	color: #ff0000;
	font-size: 14px;
	margin-top: 5px;
	transition: all 0.3s ease-in;
}
.hip-online-payment-calculator-wrapper .hip-online-payment-calculator-result {
	background-color: #f5f5f5;
	padding: 20px;
	margin-top: 30px;
}
.hip-online-payment-calculator-wrapper .hip-online-payment-calculator-result .hip-online-payment-result-text {
	font-size: 16px;
	color: #595959;
	line-height: 1.66em;
	font-weight: 600;
}

@media(max-width: 590px) {
	.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-payment-calculator-fields .hip-payment-filed{
		float: none;
		margin-right: 0px;
		width: 100%;
	}
}
@media(max-width: 480px) {
	.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-online-payment-calculator-slider .hip-online-payment-calculator-range-label span{
		font-size: 14px;
	}
	.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-online-payment-calculator-slider .hip-online-payment-calculator-slider-rang .rang{
		height: 10px;
	}
	.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-online-payment-calculator-slider .hip-online-payment-calculator-slider-rang .rang::-webkit-slider-thumb{
		width: 15px;
		height: 15px;
	}
	.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-online-payment-calculator-slider .hip-online-payment-calculator-range-label span:after {
		top: 28px;
	}
	.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-online-payment-calculator-slider .hip-online-payment-calculator-range-label span:first-child {
		margin-right: 8px;
	}
	.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-online-payment-calculator-slider .hip-online-payment-calculator-slider-rang {
		padding-top: 36px;
	}
	.hip-online-payment-calculator-wrapper .hip-payment-calculator-inner .hip-payment-calculator-fields .field-error {
		font-size: 12px;
	}
}